data/

# Python
__pycache__/
.mypy_cache/

## VS Code
# .vscode/

# Uvicorn logs
*.pid

# Test and coverage
htmlcov/
.coverage
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Environment variables
.env.local
.env.*