# Python
__pycache__/
*.py[cod]
*.env
*.venv
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Uvicorn logs
*.pid

# Test and coverage
htmlcov/
.coverage
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Environment variables
.env.local
.env.*